<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.carfours.mapper.SalemanMapper">

    <select id="AllSeller" resultType="People">
        select  *
        from seller
        where on_job = 1
    </select>

    <select id="queryById" resultType="People" parameterType="int">
        select *
        from seller
        where id=#{id}
    </select>

    <insert id="addSaleman" parameterType="People">
        insert into
            seller (name, tel, addr, sex)
            VALUES (#{name},#{tel},#{addr},#{sex})
    </insert>

    <update id="updateSaleman" parameterType="People">
        update seller
        set name=#{name},tel=#{tel},addr=#{addr},sex=#{sex}
        where id=#{id}
    </update>

    <update id="deleteSaleman" parameterType="int">
        update seller
        set on_job = 0
        where id = #{id}
    </update>

</mapper>