<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>4S销售管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="~{commons/commons.html::head}"></div>

    <div th:replace="~{commons/commons.html::sidebar}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->

        <a class="layui-btn layui-btn-lg layui-btn-normal layui-btn-radius layui-col-md2" th:href="@{/addCarmessage}">添加</a>
        <table class="layui-table">
            <thead>
            <tr>
                <td style="text-align: center">编号</td>
                <td style="text-align: center">车型</td>
                <td style="text-align: center">颜色</td>
                <td style="text-align: center">价格</td>
                <td style="text-align: center">状态</td>
                <td style="text-align: center">操作</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="car:${carmessages}">
                <td style="text-align: center" th:text="${car.getId()}"></td>
                <td style="text-align: center" th:text="${car.getName()}"></td>
                <td style="text-align: center" th:text="${car.getColor()}"></td>
                <td style="text-align: center" th:text="${car.getPrice()}+'元'"></td>
                <td style="text-align: center" th:text="${car.getState()==0?'未售出':'已售出'}"></td>
                <td style="text-align: center">
                    <a  class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm" th:href="@{/updateCarmessage/}+${car.getId()}">编辑</a>
                    <a  class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" th:href="@{/deleteCarmessage/}+${car.getId()}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui/layui.all.js}"></script>
</body>
</html>
