<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部导航栏-->
<div class="layui-header" th:fragment="head">
    <div class="layui-logo">4S销售管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <p href="javascript:;">
                [[${session.username}]]
            </p>
        </li>
        <li class="layui-nav-item"><a th:href="@{/loginout}">退出</a></li>
    </ul>
</div>


<!--侧边栏-->

<div class="layui-side layui-bg-black" th:fragment="sidebar">
    <div class="layui-side-scroll" >
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a class="" href="javascript:;">人员管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/salepage}">销售员信息</a></dd>
                    <dd><a th:href="@{/customer}">客户信息</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">车辆管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/allcar}">全部车辆</a></dd>
                    <dd><a th:href="@{/notsell}">未卖出</a></dd>
                    <dd><a th:href="@{/sell}">已卖出</a></dd>
                    <dd><a th:href="@{/maintenance}">车辆保养</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/result}">业绩统计</a></li>
            <li class="layui-nav-item"><a th:href="@{/sales}">销售量统计</a></li>
        </ul>
    </div>
</div>


</html>